  ::selection {
      color: white;
      background-color: #1336F8;
  }

  .nav-bar {
      padding-left: 80px;
      width: 100%;
      max-width: 700px;
  }

  .nav,
  .webflow,
  .nav-blog {
      list-style: none;
      display: inline-block;
      padding: 10px;
      font-size: 16px;
      font-weight: normal;
      font-family: Helvetica;
  }

  .search-img {
      list-style: none;
      padding-left: 680px;
      margin-top: -30px;
  }

  .box-pop {
      list-style: none;
      float: right;
      margin: 900px;
      height: 40px;
      width: 200px;
      margin-top: -35px;
      background-color: black;
      color: white;
      text-align: center;
      display: inline-block;
      line-height: 40px;
      font-weight: normal;
  }

  .box-pop:hover {
      background-color: #1336F8;
      color: white;
      cursor: pointer;
  }

  .free {
      font-weight: 300;
  }

  img {
      height: 25px;
      width: 45px;
      cursor: pointer;
  }

  .webflow {
      font-family: Bradley Hand;
      font-size: 30px;
      padding: 0px;

  }

  .nav-blog {
      padding: 0px;
      padding-right: 20px;
      font-weight: 200;
      font-size: 20px;
  }

  a {
      outline: none;
      text-decoration: none;
      color: black;
      cursor: pointer;

  }

  a:hover {
      color: #1336F8;
  }

  .web:hover,
  .blog:hover {
      color: #BCBEC8;
  }

  @media screen and (max-width: 1250px) {
      .nav {
          float: left;
          width: 100%;
      }
  }

  @media screen and (max-width: 1250px) {
      .search-img {
          float: left;
          width: 100%;
          margin: auto;
          padding: 0 10px 20px;
      }
  }

  @media screen and (max-width: 1250px) {
      .box-pop {
          float: left;
          margin: auto;
          padding: 0;
          height: 40px;
          width: 200px;
      }
  }
