.header {
    display: inline-flex;
    margin-left: -20px;
    margin-top: -10px;
}

.nav-bar {
    background-color: black;
    color: white;
    height: 50px;
    width: 1480px;
    margin-left: -30px;
}

.nav-bar ul .menu:hover {
    background-color: #D3D3D3;
    color: black;
    font-weight: 400;
    padding-top: 30px;
    padding-bottom: 17px;
}

.menu {
    display: inline;
    list-style: none;
    text-transform: uppercase;
    padding-right: 20px;
    padding-left: 20px;
    font-weight: 300;
    font-family: Arial;
    cursor: pointer;
}

.search-img {
    list-style: none;
    background-color: black;
    padding-bottom: 7px;
    padding-top: 12px;
    width: 80px;
    margin-left: 1362px;
    margin-top: -32px;
}

img {
    height: 20px;
    width: 20px;
    margin-left: 30px;
    margin-top: 0px;
    margin-bottom: 5px;
    cursor: pointer;
}

.search-img:hover {
    background-color: #FF250C;
}
